@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Heading  ekleme sayfası</h2>
<br />
@using(Html.BeginForm("AddHeading","Heading",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("HeadingName")
                    @Html.TextBoxFor(x=> x.HeadingName, new {@class="form-control"})
                    @Html.ValidationMessageFor(x=> x.HeadingName)
                    <br />
                    @Html.Label("CategoryID")
                    @Html.DropDownListFor(x => x.CategoryID,( List<SelectListItem>) ViewBag.vlc, new {@class="form-control"})
                  
                    @Html.ValidationMessageFor(x=> x.CategoryID)
                    <br />
                    @Html.Label("WriterID")
                    @Html.DropDownListFor(x=> x.WriterID,(List<SelectListItem>)ViewBag.vlw, new {@class="form-control"})

                   
                    @Html.ValidationMessageFor(x=> x.WriterID)
                </div>
                <button class="btn btn-success">Başlıgı oluştur</button>
            }

